.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.weather-container {
    display: grid;
    border-radius: 30px;
    grid-template-columns: repeat(4, minmax(50px, 130px));
    grid-template-rows: 100px 100px 110px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    row-gap: 30px;
}
.city {
    grid-column: 1 / -1;
    font-size: 70px;
}
.icon {
    grid-column: 1 / -1;
    text-align: center;
}
img {
    height: 100%;
    width: auto;
    
}
.weather {
    grid-column-start: 1;
    grid-column-end: 3; 
    font-size: 40px;
    padding-left: 40px;
}
.temperature {
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 40px;
    padding-right: 40px;
    text-align: bottom;
}

input{
    width: 200px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid black;
}
.input-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
}
